@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "react-dropdown/style.css";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
.top-progress {
  animation: loading 2s ease-in-out;
  width: 90%;
}
:root {
  --primary-color: #0353aa;
  --secondary-color: #fff;
}
* {
  font-family: Arial;
}

button:disabled {
  background: #b2b5c1 !important;
  cursor: not-allowed;
}

// add the code bellow
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
@layer utilities {
  @media (min-width: 1536px) {
    .container {
      max-width: 1320px;
    }
  }
  .h-600 {
    height: 600px;
  }
  .text-black {
    color: #000000;
  }
  .primary-bg {
    background: var(--primary-color);
  }
  .hover-bg {
    background: #f0f0f0;
  }
  .secondary-bg {
    background: #fafafa;
  }

  .text-secondary {
    color: rgba(0, 0, 0, 0.79);
  }
  .text-primary {
    color: var(--primary-color);
  }
}
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}
.ant-btn-primary {
  background: #2387e3;
}
.required-label {
  &::after {
    content: "*";
    font-size: 16px;
    line-height: 10px;
    color: red;
    vertical-align: middle;
    padding-left: 5px;
  }
}
.ant-select-selector {
  //border-radius: 2px;
  //border: 0.5px solid rgba(0, 0, 0, 0.4) !important;
}
.error-text {
  display: inherit;
  position: absolute;
  color: red;
  font-size: 12px;
  text-align: left;
}
.react-datepicker__input-container {
  height: 100%;
  input {
    width: 100%;
    height: 100%;
    //background: #f1f3f5;
    background: #ffffff;
    //border-radius: 8px 0px 0px 8px;
    border: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
input {
  &::-webkit-input-placeholder {
    /* Edge */
    color: #bfbfbf;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bfbfbf;
  }

  &::placeholder {
    color: #bfbfbf;
  }
}
textarea {
  &::-webkit-input-placeholder {
    /* Edge */
    color: #bfbfbf;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bfbfbf;
  }

  &::placeholder {
    color: #bfbfbf;
  }
}
.ant-modal-content{
  padding: 20px 20px!important;
}
.ant-form-item {
  input {
    font-size: 14px !important;
    font-family: Arial;
  }
  .ant-input-number-input-wrap {
    height: 100%;
    input {
      height: 100%;
    }
  }
}
.ant-modal-body {
  .ant-card {
    box-shadow: none;
  }
  .ant-card .ant-card-body {
    padding: 0 !important;
  }
}
.req {
  color: red;
}
* {
  &::selection {
    background: #0353aa;
    color: #ffffff;
  }
  &::-moz-selection {
    background: #0353aa;
    color: #ffffff;
  }
  //&::-webkit-selection {
  //	background:#FA5252;
  //	color:#FFFFFF;
  //}
}
.slick-dots li.slick-active button:before {
  color: #ff1818;
  font-size: 12px;
  opacity: 1;
}
.slick-dots li button:before {
  color: #f2f3f3;
  font-size: 12px;
  opacity: 1;
}
.slick-dots {
  bottom: -35px;
}
.image-gallery-right-nav {
  background: #0353aa !important;
}
.image-gallery-left-nav {
  background: #0353aa !important;
}
.bg-cover {
  background: #0000003b;
}

.select-search-input {
  background: #ffffff !important;
  color: #000000 !important;
  z-index: 0;
  height: 36px;
}
// .select-search-input:after{
//	 content: "\e902";
//	 position: absolute;
//	 right: 0;
//}
.select-search-select {
  background: #ffffff !important;
  color: #000000 !important;
  border: 1px solid #0353aa !important;
  padding: 16px 8px;
}
.select-search-option {
  color: #000000 !important;
}
.select-search-option:not(.select-search-is-selected):hover {
  background: #0353aa !important;
  color: #ffffff !important;
}
.select-search-is-selected {
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.select-search-option:not(.select-search-is-selected) {
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  //overflow: hidden;
  //text-overflow: ellipsis;
  //display: -webkit-box;
  //-webkit-line-clamp: 2;
  //-webkit-box-orient: vertical;
}
//.slick-slider {
//	display: table !important;
//	table-layout: fixed !important;
//	width: 100% !important;
//}
.ant-select-selection-search {
  input {
    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}
.select-search-option,
.select-search-not-found {
  height: auto;
  padding-bottom: 8px;
}
.select-search-not-found {
  text-align: center;
  padding-bottom: 0 !important;
}
.select-search-container {
  width: 100%;
}
.select-search-not-found {
  background: #ffffff !important;
  color: #000000 !important;
}
.ant-input-number {
  height: 36px;
  line-height: 1.5714285714285714;
}
.ant-picker {
  border-radius: 2px;
  border: 1px solid #d9d9d9;
}
.ant-select-item-option-content {
  white-space: normal !important;
}
.ant-select-selector {
  display: flex;
  align-items: center;
}
.ant-select-single {
  height: 36px !important;
}

//custom antd
.ant-input {
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  height: 36px;
  border-radius:4px ;
  &:focus {
    outline: none;
    border: none;
  }
  &:hover {
    outline: none;
  }
}
.ant-picker {
  height: 36px;
}
.ant-input-group-addon {
  .ant-input-search-button {
    height: 36px;
  }
}
.ant-modal-content {
  border-radius: 8px;
  border: 1px solid var(--Gray, #f4f4f4);
  background: #fff;
}

.ant-descriptions-item-label,
.ant-descriptions-title,
.fw500 {
  font-weight: 600 !important;
}

.ant-checkbox {
  .ant-checkbox-inner {
    border-radius: 2px;
  }
}

.ant-tag {
  margin-right: 0 !important;
}

.ant-form {
  .ant-tag-checkable {
    padding: 2px 7px;
    font-size: 14px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;

    .ant-tag-checkable-checked {
      border: none;
    }
  }
}

.form-footer {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 12px;
}

.ant-badge-status {
  margin-right: 8px;
}

.ant-drawer-header {
  display: none !important;
}

.sum-table {
  font-weight: bold;
}

#g-recaptcha {
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border: none !important;
}

.colorWeak {
  filter: invert(80%);
}

.ant-menu-item {
  margin-top: 0 !important;
}

.ant-input:hover {
  //border-color: var(--primary-color);
}

.ant-input:focus {
  //border-color: var(--primary-color);
}
.ant-descriptions-item-label {
  font-weight: 500 !important;
}

.btn-success {
  border-color: var(--ant-success-color);

  &.ant-btn-primary:not(:disabled) {
    background-color: var(--ant-success-color);
    &:hover {
      background-color: var(--ant-success-color-hover);
    }
  }

  &.ant-btn-link {
    color: var(--ant-success-color);
    border: none;
  }

  &:hover {
    border-color: var(--ant-success-color-hover);
    &:not(.ant-btn-primary) {
      color: var(--ant-success-color-hover);
    }
  }
}

canvas {
  display: block;
}

.filter-node {
  color: var(--primary-color);
}

// style select

.width-select-custom {
  width: calc(100% - 40px) !important;
}

.fullWidth {
  width: 100%;
}

@media (min-width: 768px) {
  .drawer-full {
    .ant-drawer-content-wrapper {
      width: 100% !important;
    }
  }

  .modal-full {
    top: 0;
    width: 100vw !important;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;

    > .ant-modal-content {
      border-radius: 0;

      > .ant-modal-body {
        height: 100vh;
      }
    }
  }
}

.ant-tabs-tab.ant-tabs-tab-active {
  font-weight: 600;
}

// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
//   display: block;
// }
// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
// .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
//   white-space: inherit;
// }
// .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab,
// .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab {
//   margin-bottom: 4px;
//   border-radius: 4px 4px 0 0;
// }

.ant-divider-with-text-center {
  .ant-divider-inner-text {
    font-weight: 600;
    font-size: 14px;
  }
}

.ant-descriptions-bordered .ant-descriptions-item-label,
.ant-descriptions-bordered .ant-descriptions-item-content {
  padding: 13px 20px !important;
}

.ant-form-item-label > label {
  height: auto;
  margin: 4px 0 !important;
}

.ant-form-vertical {
  .ant-form-item {
    margin-bottom: 10px !important;

    .ant-form-item-label {
      padding: 0 !important;
    }
  }
}

.ant-card {
  height: 100%;

  .ant-card-head-title {
    white-space: pre-wrap;
  }

  .ant-card-head {
    padding: 0 18px;

    @media (max-width: 375px) {
      padding: 0 12px;
    }
  }

  .ant-card-body {
    padding: 18px;
    @media (max-width: 375px) {
      padding: 12px;
    }
  }

  .ant-drawer .ant-card-body,
  .ant-modal .ant-card-body {
    padding-top: 12px;
  }
}

.ant-modal-content {
  .ant-modal-header {
    padding: 16px 24px 16px 18px;

    @media (max-width: 375px) {
      padding: 16px 24px 16px 12px;
    }
  }

  .ant-modal-body {
    padding: 18px;
    @media (max-width: 375px) {
      padding: 12px;
    }
  }
}

.ant-modal .ant-card-body,
.ant-drawer .ant-card-body {
  @media (min-width: 128px) {
    .ant-tabs-left {
      .ant-tabs-tab + .ant-tabs-tab {
        margin: 10px 0 0 0;
      }
    }

    .ant-tabs-left
      > .ant-tabs-content-holder
      > .ant-tabs-content
      > .ant-tabs-tabpane {
      padding-left: 18px;
    }
  }

  .button-section {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
  }

  .ant-collapse-header {
    font-weight: 600;
  }

  .ant-divider-horizontal.ant-divider-with-text-left {
    margin: 12px 0 4px 0;
    font-weight: 600;
    font-size: 14px;

    &::before {
      width: 0;
    }

    .ant-divider-inner-text {
      padding: 0;
    }
  }
}

// Card Statistics Small
.card-stat-small {
  .ant-card-body {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
    padding: 8px 12px 8px 4px;

    transition: 0.3s;

    &:hover {
      background-color: #fafafa;
      transition: 0.3s;
    }
  }

  .num {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.25rem;
  }
}

.ant-table-cell {
  height: 48px;
  padding: 8px !important;

  p,
  .ant-typography {
    margin-bottom: 0 !important;
  }
}

.ant-table-thead {
  .ant-table-cell {
    font-weight: 600;
    text-align: center !important;
  }
}

.ant-table-small .ant-table-cell {
  height: 36px;
  padding: 3px 5px !important;
}

.bg-primary-selected {
  background-color: var(--primary-1) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-info {
  color: var(--ant-info-color) !important;
}

.text-success {
  color: var(--ant-success-color) !important;
}

.text-warning {
  color: var(--ant-warning-color) !important;
}

.text-error {
  color: var(--ant-error-color) !important;
}

.bg-highlight {
  color: white;
  background-color: #ffc069;
}

.ant-alert {
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;

  .ant-alert-content {
    flex: auto;
  }

  .ant-alert-action,
  .ant-alert-close-icon {
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }

  .ant-drawer-left .ant-drawer-content-wrapper {
    width: 220px !important;
  }

  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        // white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}
.ant-tree-node-content-wrapper.ant-tree-node-selected {
  color: white !important;
  background-color: #0353aa !important;
}

.color--primary {
  color: #0353aa !important;
}
